.email-notification {border:1px solid #fff;border-radius:4px;padding:20px;}
.email-notification-label {color:#838383;display:block;font-size:0.75rem;font-weight:700;line-height:inherit;padding-right:10px;width:auto;margin-bottom:0;border-bottom:0;background-color:#121212;margin-bottom:-5px;padding-bottom:5px;position:relative;right:22px;}
.mailbox-content-col table tbody tr.new td {background-color:#1d1d1d;font-weight:700;}
.btn-social-login {padding:0;}
.row.social-logins {text-align:center;}
.form-item--social {float:none;display:inline-block;vertical-align:top;}
.search-col button[type=submit] .icon {line-height:1.6;}
.inverted-colors .btn-selectpicker, .inverted-colors input[type=text], .inverted-colors input[type=number], .inverted-colors input[type=password], .inverted-colors input[type=email], .inverted-colors select, .inverted-colors textarea {border-color:#ccc;}
.inverted-colors div.checkbox label span.sub-label:before, .inverted-colors div.radio label span.sub-label:before{border-color:#aaa;}
.inverted-colors .ucp-option-col a:hover .sub-label {color:#ff1e2b;}
.inverted-colors .ucp-option-col a span.icon {color:#ff1e2b;}
.inverted-colors ul.profile-list .sub-desc {color:#000;}

ul.main-nav-list li.has-list.plain-list > ul {display:none}
@media (min-width:768px){
    ul.main-nav-list li.has-list.plain-list {position:relative}
    ul.main-nav-list li.has-list.plain-list > ul {display:none;position:absolute;width:250px;top:100%;left:-10px;background-color:#121212;padding:0.75rem 0;box-shadow:0 0 0.1875rem rgba(0,0,0,.7);border-top:0.0625rem solid #373737;padding-bottom:0;}
    ul.main-nav-list li.has-list.plain-list > ul li {display:block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-weight:500;font-size:.813rem;float:none;margin:0;}
    ul.main-nav-list li.has-list.plain-list > ul li a {height:36px;line-height:36px;padding:0 10px;}
    ul.main-nav-list li.has-list.plain-list:hover > ul {display:block}
    .inverted-colors ul.main-nav-list li.has-list.plain-list > ul {background:#ededed;color:#121212;border-color:#c9c9c9;box-shadow:0 3px 0.1875rem rgba(0,0,0,.3);}
}

.item-tr-col > .inner-col.vtt-thumbs-col {padding:3px 10px}
.vtt-thumbs .thumb {display:block;float:left;padding:3px;width:33.3333333%;opacity:1;transition:.1s opacity linear;position:relative;}
.vtt-thumbs .thumb img {width:100%;position:relative;z-index:1;}
.vtt-thumbs .thumb .info {display:block;background:#343434;padding:3px 8px;color:#fff;transition:.1s all linear;border-radius:3px 3px 0 0;position:absolute;opacity:0;top:0;left:50%;transform:translateX(-50%);text-align:center;z-index:2;line-height:1.5em;white-space:nowrap;}
.vtt-thumbs .thumb:hover {opacity:0.8;z-index:10;}
.vtt-thumbs .thumb:hover .info {opacity:1;top:-20px}
@media (min-width: 480px) { .vtt-thumbs .thumb { width: 25%; } }
@media (min-width: 768px) { .vtt-thumbs .thumb { width: 16.6666667%; } }
@media (min-width: 1540px) { .vtt-thumbs .thumb { width: 8.3333333%; } }
@media (max-width: 1539px) { .vtt-thumbs .thumb:hover .info {top:-12px} }


.i-tags:before {
    content: '\f02c';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility;
    text-transform: none !important;
}

.i-purchased:before {
    content: '\f07a';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility;
    text-transform: none !important;
}
[data-toggle=tooltip]{  z-index: 1000;}


.i-rss:before {
    content:"\f09e";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility;
    text-transform: none !important;
	margin-right: 0.25rem;
}

.i-locked:before {
    content:"\f023";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility;
    text-transform: none !important;
	content: "";
    margin-top: -0.125rem;
}

.i-compas:before {
    content:"\f14e";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility;
    text-transform: none !important;
	content: "";
    margin-top: -0.125rem;
}


body { 
	overflow-x: hidden;
}
